
*{
	margin: 0;
	padding: 0px;
}
html{overflow-y:scroll;}
body{margin:0; padding:0; font-size:14px; line-height:1.4em;}

.line{
	background-color: #b30000;
	height: 10px;
}

#header{
	float: left;
	margin-right: 350px;
	margin-top: 10px;
	margin-left:-50px;
	font-size: 30px;
}
.menu-wrap .menu .clearfix{
	font-size: 60px;
}


.clearfix:after {
	display:block;
	clear:both;
}

/*----- Menu Outline -----*/

.menu-wrap {
	width:100%;
	box-shadow:0px 1px 3px rgba(0,0,0,0.2);
	background:#3e3436;
	margin-bottom: 100px;
}

.menu {
	width:1200px;
	margin-top: 20px;
	margin-left: 200px;
}

.menu li {
	margin:0px;
	list-style:none;
}

.menu a {
	transition:all linear 0.15s;
	color:#919191;
	text-decoration: none;
}

/*.menu li:hover > a, .menu .current-item > a {
	text-decoration:none;
	color:#be5b70;
}*/
.current-item {
	background-color:#b30000;
	color: white;
}

.menu .arrow {
	font-size:7px;
	line-height:0%;
}

/*----- Top Level -----*/
.menu > ul > li {
	float:left;
	display:inline-block;
	position:relative;
	font-size:13px;
}

.menu > ul > li > a {
	padding:5px 15px;
	display:inline-block;
	text-shadow:0px 1px 0px rgba(0,0,0,0.4);
	height: 30px;
}

.menu > ul > li:hover > a, .menu > ul > .current-item > a {
	background:#b30000; color: white;
}

/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
	z-index:1;
	opacity:1;

}

.sub-menu {
	width:200%;
	/*padding:5px 5px;*/
	position:absolute;
	top:100%;
	left:0px;
	z-index:-1;
	opacity:0;
	transition:opacity linear 0.15s;
	box-shadow:0px 2px 3px rgba(0,0,0,0.2);
	background:#2e2728;

}

.sub-menu li {
	display:block;
	font-size:13px;

}

.sub-menu li a {
	padding:5px 10px;
	display:block;
	color: white;
}

.sub-menu li a:hover, .sub-menu .current-item a {
	background:#b30000; color: white;
}

/*----- Bottom Level -----*/
.menu li:hover .sub-menu1 {
	z-index:1;
	opacity:1;

}

.sub-menu1 {
	width:200%;
	/*padding:5px 5px;*/
	position:absolute;
	top:100%;
	left:0px;
	z-index:-1;
	opacity:0;
	transition:opacity linear 0.15s;
	box-shadow:0px 2px 3px rgba(0,0,0,0.2);
	background:#2e2728;

}

.sub-menu1 li {
	display:block;
	font-size:13px;

}

.sub-menu1 li a {
	padding:5px 10px;
	display:block;
	color: white;
}

.sub-menu1 li a:hover, .sub-menu1 .current-item a {
	background:#b30000; color: white;
}

.gallery h1{
	padding-left: 10px;
	padding-bottom: 10px;
}

.gallery h3{
	padding-left: 10px;
	padding-bottom: 10px;
}
/*editting starter*/
.starter{
	color:#FFFFFF; 
	background-color:#664d00;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px; 
}
.starter h1{
	font-size: 60px;
	padding-bottom: 20px;
}

.starter p{
	padding-bottom: 30px;
}
.starter button{
	background-color: #cc0000;
	border:none;
	padding: 15px 32px;
	display: inline-block;
	font-size: 16px;
}
.starter button a{
		text-decoration: none;
		color: white;
}


.gen_col{
	padding-left: 150px;
	padding-top: 100px;
	text-align: center;
	padding-bottom: 450px;
	color: #8c8c8c;
}
.first_col{
	width: 200px;
	float: left;
	padding-bottom: 10px;
}
.second_col{
	width: 200px;
	float: left;
	padding-left: 50px;
}
.third_col{
	width: 200px;
	float: left;
	padding-left: 50px;
}
.forth_col{
	width: 200px;
	float: left;
	padding-bottom: 10px;
	padding-left: 50px;
}
.gen_col a{
	padding: 10px 16px;
	font-size: 15px;
	color: #b30000;
	text-decoration:none;
	border: 1px solid grey;
}
.form{
	background-color:#872c59;
	color:white;
	margin: 0;
	padding-left: 150px;
	padding-top: 50px;
}
/*.name{
	padding-right: 100px;
	float: left;
}*/
.mail{
	padding-right: 100px;
	float: left;
}
#name{
	padding: 10px 30px;
	background-color: #872c59;
	color: white;
}
#email{
	padding: 10px 30px;
	background-color: #872c59;
	color: white;
}
#reference{
	padding: 10px 30px;
	background-color: #872c59;
	color: white;
}
#message{
	background-color: #872c59;
	color: white;
}
#submit input{
     padding: 10px 16px;
	font-size: 15px;
	color: white;  
	background-color: #872c59; 
}
#submit{
	padding-bottom: 50px;
}


#gen_col{
	padding-left: 150px;
	padding-top: 100px;
	text-align: center
	;padding-bottom: 450px;
}
.book{
	border-style: solid;
    border-width: 1px;
	width: 300px;
	float: left;
	padding-bottom: 10px;
	margin-left: 30px;
	height: 280px;
}
.flag{
	border-style: solid;
    border-width: 1px;
	width: 300px;
	float: left;
	padding-bottom: 10px;
	margin-left: 30px;
	height: 280px;
}
.group{
	border-style: solid;
    border-width: 1px;
	width: 300px;
	float: left;
	padding-bottom: 10px;
	margin-left: 30px;
	height: 280px;
}
#gen_col a{
	text-decoration: none;
	color: red
}

.inner_footer{
	background-color: #404040;
	height: 200px;
	text-align: center;
}

.outer_footer{
	background-color: #262626;
	height: 300px;
	text-align: center;
	color: #8c8c8c;
}
.outer_footer a{
	text-decoration: none;
	color: #8c8c8c;

}
.inner_footer h2{
	padding-bottom: 20px;
	padding-top: 50px;
}
.inner_footer p{
	padding-bottom: 30px;
}
.outer_footer p{
	padding-top: 30px;
	padding-left: 200px;
}

/*page full width*/

.in_line{
	height: 120px;
	background-color: #660033;
	margin-top: 70px;
	margin-bottom: 100px;
}
.in_line p{
	padding-left: 170px;
	padding-top: 50px;
	font-size: 13px;
}
.in_line a{
		color: white;
	text-decoration: none;
}

.form1{
	margin: 0;
	padding-left: 150px;
	padding-top: 50px;
	margin-bottom: 100px;
}

.form2{
	margin-left: 150px;
	padding-top: 50px;
	margin-bottom: 100px;
}
.name{
	padding-right: 100px;
	float: left;
}
/*.mail{
	padding-right: 100px;
	float: left;
}*/
#name1{
	padding: 10px 30px;
}
#email1{
	padding: 10px 30px;
}
#reference1{
	padding: 10px 30px;
}
#message1{

}
#submit1 input{
     padding: 10px 16px;
	font-size: 15px;
}
#submit{
	padding-bottom: 50px;
}

.headline{
	margin-left: 150px;
	margin-top: 100px;
	margin-right: 100px;

}

.headline p{
	margin-top: 20px;
}
.sdb_holder{
	margin-top: 50px;
}
.sdb_holder h2{
	margin-bottom: 20px;
}
}
.sdb_holder ul{
	padding-left: 100px;
}

.headline .inner_p{
	padding-left: 160px;
	margin-top: -150px;
}

#img1{
	float: right;
}
#img2{
	float: left;
	margin-right: 5px;
}
.table{
	margin-left: 150px;
	/*margin-top: 10px;*/
	margin-right: 100px;/*
	border:1px solid grey;*/

}
.table th{
	background-color: black;
	color: white;
	width: 200px;
	height: 30px;
}
.table th{
	width: 300px;
}


.comments img{
	float: left;
	padding-left: 500px;
}
.comments h2{
	padding-left: 150px;
}
.comments{
	/*margin-left: 150px;*/
	margin-top: 20px;
}
#paragrapgh{
	margin-top: 10px;
	margin-left: 150px;
	margin-right:100px;
	height: 100px;
	background-color: #FFF5EE;
}

.gallery{
	padding-left: 180px;
	padding-top: 50px;
	padding-bottom: 50px;
}
.tile{
	margin: 10px;
}
.row2{
	/*float: left;*/
	margin-left: 100px;
}

.row1{
	float: left;
	margin-left: 150px;
	width:250px;

}

.row4{
	margin-right: 300px;


}

.row5{
	float: right;
	margin-top: -1400px;
	width: 250px;
	margin-right: 100px;

}

.last{
	margin-bottom: 20px;
}


.left-col a{
	text-decoration: none;
}





.order {
	display:block; 
	width:100%; 
	text-align:center; 
	clear:both;
	padding-bottom: 30px;
}
.order li{
	display:inline-block;
	 margin:0 2px 0 0;
}
.order li:last-child{margin-right:0;}
.order a, .order strong{display:block; padding:8px 11px; border:1px solid; font-weight:normal;}

.order a, .order strong{border-color:#D7D7D7;}
.order .current{color:#FFFFFF; background-color:#000000;}

.sidebar .sdb_holder{margin-bottom:50px;}
.sidebar .sdb_holder:last-child{margin-bottom:0;}

#container{padding:80px 0;}

 Content 
#container #content{}
#container .sidebar nav a{color:#888888; border-color:#D7D7D7;}
#container .sidebar nav a:hover{color:#AC2629;}

.sidebar nav a::after{position:absolute; font-family:"FontAwesome"; font-size:10px; line-height:10px;}

body, input, textarea, select{font-family:Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-family:"Times New Roman", Times, serif;}

.wrapper{display:block; width:100%; margin:0; padding:0; text-align:left; word-wrap:break-word;}
.row3{color:#888888; background-color:#FFFFFF;}



